<section
class="bg-black h-screen w-screen text-white text-center relative overflow-hidden"
>
<div class="relative z-30 flex flex-col h-full">
  <header class="">
    <h2 class="text-white pt-40 text-4xl font-medium">
      Disfrute de Tesla
    </h2>
    <p class="text-white text-sm">
      Programe una prueba de conducción hoy mismo
    </p>
  </header>
  <footer class="flex flex-grow flex-col flex-nowrap justify-end pb-24">
    <div>
      <a
        class="border-2 bg-white/5 backdrop-blur-xl rounded font-medium text-white px-6 py-2 inline-block hover:text-black hover:bg-white transition-colors duration-100"
        href="#">Prueba de conducción</a
      >
    </div>
  </footer>
</div>
<div class="absolute top-0 bottom-0 h-full w-full">
  <video
    class="object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</div>
</section>